<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light">Raw Surf App</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item color="dark">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item color="dark">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>
 
    <ion-button class="ion-submit" type="submit" color="secondary" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
    <ion-button [routerLink]="['/', 'signup']" type="button" expand="block" color="primary" fill="clear">Not yet a member? Sign up!
    </ion-button>
     <!-- <ion-buttons> 
         <button ion-button (click)="goHome()">Go back </button> 
       
      </ion-buttons> -->
 
    <ion-button type="button" expand="block" color="light">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Sign in with Google
    </ion-button>
    <ion-button type="button" expand="block" color="light">
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Sign in with Apple
    </ion-button>
  </form>
</ion-content>