<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src ="assets/img/rawsurf-sticker-ss.png">
        <h1>Welcome to the Raw Surf App</h1>
        <p>This app is made for two different types of Users. 
          <br><br> 1.) Main User (All users)
          <br><br> 2.) For hire professional photographer (Main User + Photographer User)
        </p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src ="assets/img/rawsurf-sticker-ss.png">
        <h1>Raw Surf App is free offering:<br><br>
          Flexibility choosing photographers. Simplistic Secure Payment in one place
          <br>
           </h1>
        <p>Tiered subscriptions are available for additional services </p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>

</ion-content>
